ul {
    list-style-type: none;
}

li {
    display: inline;
    padding: 1rem;
}

body {
    background-color: #8eade3;
    font-family: 'Lucida Console', Monospace;
    text-align: center;
}

a {
    color: #4e5a86;
    text-decoration: none;
}

a:hover {
    color: #F07167;
}

h1 {
    color: #4d3d67;
}

img {
    border-radius: 10%;
}